body {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.display-none {
    display: none !important;
}

.button {
    background-color: #adb5bd;
}

.button.active {
    background-color: #0d6efd !important;
}

.bg-blue {
    background-color: #0d6efd;
}

.bg-gray {
    background-color: #adb5bd;
}

.bg-light {
    background-color: #f8f9fa;
}

.bg-light-trans {
    background-color: #f8f9faaa;
}

.fg-gray {
    color: #6c757d;
}

.fg-light {
    color: #f8f9fa;
}

.flex-centered {
    justify-content: center !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-spaced >:not(:first-child) {
    margin-top: 1rem;
}

.flex-grow {
    flex: 1;
}

.flex-grow:not(:last-child) {
    margin-right: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.h-2 {
    height: 2rem;
}

.m-x-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.p-x-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.p-r-1 {
    padding-right: 1rem;
}

.rounded {
    border-radius: 1rem;
}

.w-2 {
    width: 2rem;
}

#gl-canvas {
    display: block;
}

#menu {
    position: absolute;
    top: 1rem;
    width: 26rem;
    border-radius: 1.75rem;
    padding: .75rem;
}

#menu.left {
    left: 1rem;
}

#menu.right {
    right: 1rem;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.small {
    font-size: 0.9rem;
}

.vsmall {
    font-size: 0.7rem;
}

.handle {
    pointer-events: none;
    position: absolute;
}